<div class="cipher-card" data-cy="cipher-card">
  <h3 data-cy="card-title">
    {{ langService.texts.cardNumber }} {{ card.id }}
  </h3>

  <div class="numbers" data-cy="card-numbers">
    @for (n of card.numbers; track n) {
    <span>{{ n }}</span>
    }
  </div>

  <div class="actions">
    <button data-cy="card-yes-btn" [class.active]="card.answer === true" (click)="choose(true)">
      {{langService.texts.yes}}
    </button>

    <button data-cy="card-no-btn" [class.active]="card.answer === false" (click)="choose(false)">
      {{langService.texts.no}}
    </button>
  </div>
</div>