/* تعیین ابعاد کارت‌ها */
.cipher-card {
  border: 1px solid #444;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  min-width: 280px;
  background-color: #151515;
}

/* لیست اعداد */
.numbers {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 160px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.numbers span {
  min-width: 32px;
  padding: 0.3rem 0.4rem;
  border-radius: 4px;
  background-color: #222;
  border: 1px solid #333;
  font-weight: bold;
}

/* دکمه‌ها */
.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.actions button {
  min-width: 70px;
}

/* حالت انتخاب‌شده */
.actions button.active {
  border-color: #2c3b87;
  background-color: #000e53;
}
