<div class="center-page">

    <!-- Game Title -->
    <h1>{{ langService.texts.title }}</h1>
    <h4>{{ langService.texts.guide }}</h4>

    <!-- Cards Container with Scroll -->
    <div class="cards-container">
        <div class="cards-grid">
            <app-cipher-card *ngFor="let card of cards" [card]="card" (answered)="onAnswered(card, $event)" />
        </div>
    </div>

    <!-- Progress Bar -->
    <div class="progress">
        <div class="progress__header">
            <span>{{ answeredCount }} / {{ totalCount }}</span>
            <span>{{ progressPercent }}%</span>
        </div>
        <div class="progress__bar">
            <div class="progress__fill" [style.width.%]="progressPercent"></div>
        </div>
    </div>
    <!-- Final Button -->
    <button class="bind-btn" [disabled]="!canFinish" (click)="finish()">
        {{langService.texts.reveal}}
    </button>
</div>