<div class="center-page">

  <!-- Game Title -->
  <h1>{{ langService.texts.title }}</h1>
  <h4>{{ langService.texts.guide }}</h4>

  <!-- Cards Container with Scroll -->
  <div class="cards-container">
    <div class="cards-grid">
      @for (card of cards; track card) {
      <app-cipher-card [card]="card" (answered)="onAnswered(card, $event)" />
      }
    </div>
  </div>

  <!-- Progress Bar -->
  <app-progress-bar [current]="answeredCount" [total]="totalCount">
  </app-progress-bar>

  <!-- Final Button -->
  <button class="bind-btn" [disabled]="!canFinish" (click)="finish()">
    {{langService.texts.reveal}}
  </button>
  <footer>{{ langService.texts.footer }}</footer>
</div>